output/

*.c
*.h
*.mk

# Data Files
*.log
*.sav
*.dmp
*.tmp
*.bak

# Compressed Files
*.7z
*.rar
*.tar
*.tar.gz
*.zip

# Libre Writer and Other Document forms
*.odt
*.doc
*.rtf
*.docx
*.docm
*.dotx
*.dotm
*.docb
*.xlsx
*.xlsm
*.xltx
*.xltm
*.pdf
*.tex
*.wks
*.wps
*.wpd

# Prerequisites
*.d
*.pch

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

#! Include - Dependencies Object Files
!depend/library/*.o
!depend/library/*.obj
!depend/library/*.so
!depend/library/*.dll
!depend/library/*.a
!depend/library/*.lib

#! Data Resources
!data/

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.64
*.apk

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
